<h2> Recruitment </h2>
<h4> We are allways recuriting good players, therefore all applications will be considered, but we desire some classes and speccs more than other. <br> This is how the </h4>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="lowFade">
        <img class="classLogo" src="../resources/images/dk_logo.png" width="64px" height="64px"></div> <h3 class="lowDemand"> Low</h3>
        <br>

        <div class="medFade">
        <img class="classLogo" src="../resources/images/druid_logo.png" width="64px" height="64px"></div> <h3 class="medDemand"> Medium</h3>
        <br>

        <div class="higFade">
        <img class="classLogo" src="../resources/images/hunter_logo.png" width="64px" height="64px"></div> <h3 class="higDemand"> High</h3>
        <br>

        <div class="lowFade">
        <img class="classLogo" src="../resources/images/mage_logo.png" width="64px" height="64px"></div> <h3 class="lowDemand"> Low</h3>
        <br>

        <div class="medFade">
        <img class="classLogo" src="../resources/images/monk_logo.png" width="64px" height="64px"></div> <h3 class="medDemand"> Medium</h3>
        <br>

        <div class="higFade">
        <img class="classLogo" src="../resources/images/priest_logo.png" width="64px" height="64px"></div> <h3 class="higDemand"> High</h3>
        <br>
    </div>

    <div class="col-lg-6">
        <div class="lowFade">
        <img class="classLogo" src="../resources/images/rogue_logo.png" width="64px" height="64px"></div> <h3 class="lowDemand"> Low</h3>
        <br>

        <div class="medFade">
        <img class="classLogo" src="../resources/images/pala_logo.png" width="64px" height="64px"></div> <h3 class="medDemand"> Medium</h3>
        <br>

        <div class="higFade">
        <img class="classLogo" src="../resources/images/shaman_logo.png" width="64px" height="64px"></div> <h3 class="higDemand"> High</h3>
        <br>

        <div class="lowFade">
        <img class="classLogo" src="../resources/images/lock_logo.png" width="64px" height="64px"></div><h3 class="lowDemand"> Low</h3>
        <br>

        <div class="medFade">
        <img class="classLogo" src="../resources/images/warr_logo.png" width="64px" height="64px"></div> <h3 class="medDemand"> Medium</h3>
        <br>
    </div>
</div>
<div style="text-align:center;">
<a ng-href="/#/apply" id="apllyBtn" class="btn btn-primary" ng-click="showme=true" style="width: 200px">Apply now!</button>
</div>